<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Анализ видеофрагментов с помощью нейронных сетей</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <header>
        <h1>Анализ видеофрагментов с помощью нейронных сетей</h1>
        <div class="user-data">
            <p>Username:&nbsp;{{ username }}&nbsp;</p>
            <p>Balance:&nbsp;{{ balance }}&nbsp;</p>
        </div>
        <div>
            <button class="exit-button" onclick="location.href='/'"><b>Выйти</b></button>
        </div>
    </header>

    <main>
        <section class="networks">
            <h2 id="networks-header">Наши нейронные сети</h2>
            <div class="network-card">
                <h3>Классификация действий</h3>
                <p>Данная нейронная сеть анализирует любые видеофрагменты, на которых человек выполняет действия - классифицирует их.
                Рекомендуется загружать видео фрагменты длиною 10-15 секунд в любом существующем формате. Ответ будет представлен в текстовым формате</p>
            </div>
            <div class="network-card">
                <h3>Оригинальность видео</h3>
                <p>Данная нейронная сеть анализирует любые фотофрагменты - определяет их оригинальность на предмет участия нейронных сетей в их создании.
                Рекомендуется загружать любые фотофрагменты во всех возможных существующих форматах. Ответ будет представлен в текстовом формате.</p>
            </div>
        </section>

        <section class="upload">
            <h2>Загрузите файл</h2>
            <div class="video">
                <form method="POST" action="/upload_a/{{ username }}" enctype="multipart/form-data" id="upload-form">
                    <button type="button" onclick="document.getElementById('video-file').click()" class="upload-button">+</button>
                    <input type="file" name="file" id="video-file" style="display: none;" onchange="submitForm();">
                </form>
            </div>

            <script>
                function submitForm()
                {
                    let fileInput = document.getElementById('video-file');
                    if (fileInput.files.length > 0)
                        document.getElementById('upload-form').submit();
                }
            </script>
            <div class="result-container" id='rc'>
                {% if result_text_exists %}
                <p class="result-text">{{ result_text_exists }}</p>
                {% endif %}
                {% if result_image_exists %}
                <p class="result-text">{{ result_image_exists }}</p>
                {% endif %}
            </div>
            <div class="balance-container">
                <p class="cost-text">Стоимость запроса: 0.1$<br>Количество запросов: {{ free_count }}</p>
            </div>
        </section>
    </main>

    <footer>
        <p>© 2024 Самарский университет by Vladimir, Yager</p>
    </footer>

</body>
</html>
